@mixin hidden-arrows-number-input {
  &[type='number'] {
    appearance: textfield;
  }

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__input {
    background: transparent;
    border: 1px #ffffff3b solid;
    border-radius: 4px;
    color: #ffff;
    padding: 10px;
    width: 100%;

    @include hidden-arrows-number-input;

    &:hover {
      border: 1px #ffffff solid;
    }

    &:focus {
      border: 1px solid #78a5ca;
      outline: 1px solid #78a5ca;
    }

    &--withIcon {
      padding-left: 40px;
    }
  }

  &__label {
    background: #121212;
    left: 10px;
    padding: 0 4px;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }

  &__error {
    font-size: 12px;
    color: red;
  }

  svg {
    fill: #ffffff;
    height: 20px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
  }
}
