.info-box {
  background-color: #ca0101;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  height: min-content;
  margin: 32px 0;
  max-width: 500px;
  padding: 16px;
  width: 100%;
}
